canvas {
    border: 1px solid black;
}
#score {
    font-size: 24px;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
}
.logout-button {
    background-color: #f44336;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}
.content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.scores-table {
    border-collapse: collapse;
    width: 35%;
}
.scores-table th, .scores-table td {
    border: 1px solid #ddd;
    padding: 8px;
    width: 50%;
    text-align: left;
}
.scores-table th {
    background-color: #04AA6D;
    color: white;
}
.start-button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    font-size: 20px;
}

.home-button {
    padding: 10px;
    margin-right: 5px;
    background-color: #007bff;
    color: white;
    border: 2px solid black;
    border-radius: 15px;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
}

.classement-button {
    background-color: #28a745;
    border-color: #218838;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.notifications-button {
    background-color: #ffe900;
    border-color: #00ffad;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    position: relative;
}

.notification-count {
    position: absolute;
    bottom: -5px;
    right: -5px;
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 2px 6px;
    font-size: 12px;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    background-color: #ffffff;
    border: 1px solid #ddd;
    margin-top: -1px;
    padding: 10px;
    font-size: 18px;
}

.games-title {
    text-align: center !important;
}

.padding-game {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.notification {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 5px;

    form {
        margin-top: 10px;
    }

    button {
        background-color: #007bff;
        color: white;
        border: none;
        padding: 8px 15px;
        border-radius: 5px;
        cursor: pointer;
        margin-left: 15px;
    }

    button:hover {
        background-color: #0056b3;
    }
}

.unread {
    font-weight: bold;
    background-color: #ddd;
}