<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
    <script src = "static/index.js"></script>
    <link rel="stylesheet" href="static/index.css">
</head>
<body>
    {% include 'header.html' %}
    <div class="content">
        <div class="game-content">
            <canvas id="canvas" width="400" height="400"></canvas>
            <div class="padding-game">
                <div id="score">Score: 0</div>
                <button id="start" class="start-button">Start</button>
            </div>
        </div>
        <table class="scores-table">
            <tr><th colspan="2" class="games-title">10 last games</th></tr>
            <tr>
                <th>Username</th>
                <th>Score</th>
            </tr>
            {% for score in scores %}
            <tr>
                <td>{{ score.username }}</td>
                <td>{{ score.score }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
</body>
</html>
