<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Notifications</title>
    <link rel="stylesheet" href="/static/index.css">
</head>
<body>
    <div class="header">
        <div>
            <button onclick="location.href='/home';" class="home-button">Back to home</button>
            connecté en tant que:
            <b><a href="/profile">{{ session['username'] }}</a></b>
        </div>
        <button onclick="location.href='/top_scores';" class="classement-button">Classement</button>
        <div>
            <button onclick="location.href='/logout';" class="logout-button">Logout</button>
            <button onclick="location.href='/notifications';" class="notifications-button">Notifications</button>
        </div>
    </div>
    <h2>Notifications</h2>
    {% for notification in notifications %}
        <div class="notification {% if notification.read == 0 %}unread{% endif %}">
            <p>{{ notification.message }} - {{ notification.timestamp }}</p>
            <form action="/mark_notification_as_read" method="post">
                <input type="hidden" name="notification_id" value="{{ notification.id }}">
                <button type="submit">Marquer comme lu</button>
            </form>
            <form action="/delete_notification" method="post">
                <input type="hidden" name="notification_id" value="{{ notification.id }}">
                <button type="submit">Supprimer</button>
            </form>
        </div>
    {% endfor %}
</body>
</html>
